<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/register.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="main-header">

            <img class="logo" width="160" src = "img/logo-mercado-liebre.svg" alt = "logo">

            <form class="buscador" action="" method="post" target="_blank">
                <input type="search" placeholder="Buscar"><button type="submit" value="Buscar"><i class="fas fa-search"></i></button> 
            </form>

            <h4 class="compraCuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="main-navbar">
            <ul class = "lista1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class = "lista2">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>


    </header>
    <section>
        <form class="formulario" action="/register" method="post" enctype="multipart/form">
            <fieldset>
                <label for="nombre"></label>
                <input class="type" type="text" name="nombreCompleto" id="nombre" required placeholder="Nombre y apellido">
                <span class="feedback"></span>
            </fieldset>

            <fieldset>
                <label for="usuario"></label>
                <input class="type" type="text" name="usuario" id="usuario" required placeholder="Nombre de usuario">
                <span class="feedback"></span>
            </fieldset>

            <fieldset>
                <legend>Fecha de nacimiento</legend>
                <input class="type"type="date" name="fecha" min="1950-01-01" max="2003-12-31" required>
                <label for="fecha"></label>
            </fieldset>
                
            <fieldset>
                <label for="domicilio"></label>
                <input class="type" type="text" name="domicilio" id="domicilio" required placeholder="Domicilio">
                <span class="feedback"></span>
            </fieldset>
                
            <fieldset>
                <legend>Perfil de usuario</legend>
                <input type="radio" name="perfil" id="comprador" required value="Comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" name="perfil" id="vendedor" required value="Vendedor">
                <label for="vendedor">Vendedor</label>
            </fieldset>
                
            <fieldset class="intereses">
                <legend>Intereses</legend>
                <input type="checkbox" name="interes" id="electro" value="electro">
                <label for="electro">Electro</label>
                <input type="checkbox" name="interes" id="moda" value="moda">
                <label for="moda">Moda</label>
                <input type="checkbox" name="interes" id="hogar" value="hogar">
                <label for="hogar">Hogar</label>
                <input type="checkbox" name="interes" id="jugueteria" value="jugueteria">
                <label for="jugueteria">Juguetería</label>
                <input type="checkbox" name="interes" id="vida" value="vidaSana">
                <label for="vida">Vida sana</label>
                <label for="categorias"></label>
            </fieldset>
                 
            <fieldset>
                <legend>Imagen de perfil</legend>
                <input type="file" name="fotoUsuario" accept=".jpg, .png">
                <label for="fotoUsuario"></label>
            </fieldset>
                
            <fieldset>
                <button class="botonEnviar" type="submit">Enviar</button>
                <button class="botonBorrar" type="reset">Borrar todo</button>
            </fieldset>
                

        </form>
    </section>

    <footer>
        <div class="main-footer">
            <div class="footer-item">
                <div class="icon"><i class="fas fa-credit-card"></i></div>
                <p class="titus">Pagá con tarjeta o en efectivo</p>
                <p class="parrafos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo 
                en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div class="footer-item">
                <div class="icon"><i class="fas fa-gift"></i></div>
                <p class="titus">Envío gratis desde $2.500</p>
                <p class="parrafos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div class="footer-item">
                <div class="icon"><i class="fas fa-user-shield"></i></div>
                <p class="titus">Seguridad, de principio a fin</p>
                <p class="parrafos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </div>
        
        <p class="legal">Copyright © 1999-2020 MercadoLiebre S.R.L.<p>

    </footer>
    
</body>
</html>