@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto';
    background-color: #ebebeb;
    margin: 0px;
}


/************************************** Header *******************************/

header{
    background-color: #EAC926;
    padding: 10px;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width:40%;
    max-width: 90%;
    margin-right: 10%;
}

.buscador{
    width:50%;
    align-self: center;
       
}

.buscador input{
    width: 70%;
    border: none;
    background-color: white;
    font-size: 15px; 
    font-family: 'Roboto';
}

.buscador button{
    border: none;
    background-color: white;
    color:#666;
    font-size: 15px;
    font-family: 'Roboto';
}

.compraCuotas{
    text-align: center;
    flex-grow: 1;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
}

.main-navbar{
    display:none;
}

.burger-menu{
    background-color:#1259c3;
    color: white;
    display:block;
    text-align:center;
    width: 20px;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

figure{
    margin:auto;
}
.banner {
        width: 100%;
        margin:auto
}

/************************************** Main *******************************/

section{
    max-width: 90%;
    margin:auto;
}

.producto{
    background-color: white;
    padding: 5vw;
    margin-bottom: 10px;
    position: relative;
    transition: all .3s ease-in-out;
}

.foto{
    width: 90%;
    margin: 5%;
}

.info{
    border-top: 1px solid #ebebeb;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    display:flex;
    flex-wrap: wrap;
    
}

.camion{
    font-size: 16px;
    color:#39b54a;
    background-color: white;
    width: 20px;
    border: solid #39b54a 1px;
    border-radius: 50%;
    padding: 5px;
    position:absolute;
    right: 20px;
    bottom: 105px;
    
}

.precio{
    font-size: 1rem;
    font-weight: bold;
    width: 30%;
    
}

.descuento{
    font-size: 1rem;
    text-align: center;
    color:#39b54a;
    width: 70%;
}

.descripcion{
    font-size:1rem;
    transition: all .3s ease-in-out;
    visibility: hidden;
    
}

.producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}

.producto:hover .descripcion{
    visibility:visible;
    
}

@keyframes delivery {
    0%{opacity:0%}
    20%{opacity: 100%; transform: rotateX(360deg);}
    100%{}
}

.producto:hover .camion{
    animation: delivery 1s 1;
    
}

h3{
    font-size: 24px;
}

/************************************** Footer *******************************/

footer{
    text-align:center;
    color: #666;
    line-height: auto;
    padding-top: 10px;
    margin: 10px;
}

.titus{
    font-size:18px;
    font-weight: bold;
    line-height:auto;
    margin: 2%;
}

.icon{
    color:#1259c3;
    font-size:2em;
    line-height:10px;
    margin: 2%;
    transition: all 0.3s ease-in-out;
}

.icon:hover{
    color:#629cf3;
}

.legal{
    display:left;
    margin-top: 2em;
}


/************************************** tablet *******************************/

@media (min-width:768px){
    .main-header{
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .logo{
        width:20%;
        max-width: 90%;
    }

    .buscador{
        width: auto;
        text-align: center;
        flex-grow: 1;
    }

    .buscador input{
        font-size: 20px; 
        
    }
    
    .buscador button{
        font-size: 20px;
        
    }

    .compraCuotas{
        max-width: 350px;
        text-align: end;
        

    } 

    .main-navbar{
        display: flex;
        justify-content:space-between;
    }

    .main-navbar ul {
        display: flex;

    }

    .main-navbar li {
        margin: 10px 7px 5px;

    }

    .burger-menu{
        display:none
    }

    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h3{
        width: 100%;
    }

    .producto{
        width: 25%;
        margin: 10px;
        flex-grow: 0.5;

    }

    .camion{
        right: 30px;
        bottom: 130px;
        
    }

    .main-footer{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .footer-item{
        padding: 15px;
    }
}

/************************************** desktop *******************************/

@media (min-width:1024px){
    .main-header, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .producto{
        width: 10%;
        margin: 10px;
        padding: 1vw;
        flex-grow: 0.25;
    }

    .camion{
        right: 20px;
        bottom: 100px;
        
    }


}